<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    Home - Data Pipes
  </title>
  <meta name="author" content="Open Knowledge Foundation Labs" />
  <meta name="description" content="Data Pipes - Streaming Online Data Processing and Transformations" />

  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="interactive">
  <div class="container">
    <form class="form-horizontal" action="">
      <div class="form-group">
        <label for="url" class="col-sm-2 control-label">URL</label>
        <div class="col-sm-10">
          <input type="url" class="form-control" name="url" value="{{url}}"
            placeholder="URL to source CSV data e.g. http://mysite.com/data.csv" />
        </div>
      </div>
      <div class="form-group">
        <label for="head" class="col-sm-2 control-label">Head</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="head" value="{{query.head}}"
            placeholder="Number of rows to take for head"
            />
        </div>
      </div>
      <div class="form-group">
        <label for="output" class="col-sm-2 control-label">Output Format</label>
        <div class="col-sm-10">
          {% for name in ['html', 'csv'] %}
          <label class="radio-inline">
            <input type="radio" name="output" value="{{name}}"
              {% if output == name %}checked="checked"{% endif %}
              > {{name.toUpperCase()}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" type="submit">Run</button>
        </div>
      </div>
    </form>
  </div>

  <div id="output">
    {% if error %}
    <div class="alert alert-danger">{{error}}</div>
    {% endif %}

    <div class="link">
      <label>Your DataPipe URL</label>
      <a href="{{pipeline}}" target="_blank">{{pipeline}}</a>
      <a href="#" class="btn btn-xs btn-primary js-copy" data-url="{{pipeline}}">Copy</a>
    </div>

    {% if pipeline %}
    <iframe src="{{pipeline}}"></iframe>
    {% endif %}
  </div>
  <div class="overlay"></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    $(function() {
      $('.js-copy').on('click', function (e) {
        e.preventDefault();
        window.prompt("Copy to clipboard: Ctrl+C, Enter", $(e.target).data('url'));
      });
    });
  </script>
</body>
</html>
