<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> 
    Home - Data Pipes
  </title>
  <meta name="author" content="Open Knowledge Foundation Labs" />
  <meta name="description" content="Data Pipes - Streaming Online Data Processing and Transformations" />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/favicon.ico"/>
  
  <!-- Consent manager -->
  <script>var okiConsent = {analyticsTrackingID: 'UA-33874954-19'}</script>
  <script src="https://a.okfn.org/html/oki/consent/assets/js/consent.js"></script>
  
</head>
<body>
<div class="container">
  <div class="header">
    <h1>
      <a href="/">Data Pipes</a>
    </h1>
    <a href="http://okfnlabs.org/"><img src="https://assets.okfn.org/p/labs/img/logo-flask.png" style="height: 50px; margin-top: 10px;" /></a>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <div class="footer">
    <p>
      This service is run by the <a href="http://okfnlabs.org">Open
        Knowledge Foundation Labs</a>
      &ndash;
      <a href="http://github.com/okfn/datapipes">Source Code</a>
      &ndash;
      <a href="https://okfn.org/privacy-policy/">Privacy policy</a>
    </p>
    <p>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service">
        <img src="https://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
    </p>
    <div class="feedback"><a href="https://github.com/okfn/datapipes/issues" target="_blank">Feedback</a></div>
  </div>

</div><!-- /container -->

{% block extra_js %}{% endblock %}
</body>
</html>


