<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> 
    Home - Data Pipes
  </title>
  <meta name="author" content="Open Knowledge Foundation Labs" />
  <meta name="description" content="" />

  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
  <div class="header">
    <h1>
      Data Pipes
    </h1>
    <div class="description">
      pre-alpha demonstrator
    </div>
  </div>

  <div class="content">
    <h1>Examples</h1>
    <a href="/?url=http://static.london.gov.uk/gla/expenditure/docs/2012-13-P12-250.csv&">/?url=http://static.london.gov.uk/gla/expenditure/docs/2012-13-P12-250.csv</a>
  </div>

  <div class="footer">
    <p>
      This service is run by the <a href="http://okfnlabs.org">Open
        Knowledge Foundation Labs</a>
      &ndash;
      <a href="http://github.com/okfn/datapipes">Source Code</a>
    </p>
    <p>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service">
        <img src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
    </p>
    <div class="feedback"><a href="https://github.com/okfn/datapipes/issues" target="_blank">Feedback</a></div>
  </div>

</div><!-- /container -->
</body>
</html>


