<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> 
    Home - Data Pipes
  </title>
  <meta name="author" content="Open Knowledge Foundation Labs" />
  <meta name="description" content="" />

  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
  <div class="header">
    <h1>
      Data Pipes
    </h1>
    <div class="description">
  This is a pre-alpha demonstrator &ndash; check out the <a href="https://github.com/okfn/datapipes">code and issues on github</a> &hellip;
    </div>
    <a href="http://okfnlabs.org/"><img src="http://assets.okfn.org/p/labs/img/logo-flask.png" style="height: 50px; margin-top: 10px;" /></a>
  </div>

  <div class="content">
    <h1>Streaming Online Data Transformation!</h1>
    <p>Data Pipes is an online service to provide unix-style cut, grep, sed in a streaming, "pipe-like" manner on the web (you can also run it locally!).</p>
    <p>We need data that streams so, at the moment, we only operate on CSV files.</p>
    <h2>Examples</h2>
    <p>Delete the rows 1-3 of a CSV file:<br />
    <a href="/csv/delete?range=1:4&url=http://static.london.gov.uk/gla/expenditure/docs/2012-13-P12-250.csv&">/csv/delete?range=1:4&url=http://static.london.gov.uk/gla/expenditure/docs/2012-13-P12-250.csv
    </a>
    </p>

    <h2>Documentation</h2>
    <a href="https://github.com/okfn/datapipes">Read it here on github</a>
  </div>

  <div class="footer">
    <p>
      This service is run by the <a href="http://okfnlabs.org">Open
        Knowledge Foundation Labs</a>
      &ndash;
      <a href="http://github.com/okfn/datapipes">Source Code</a>
    </p>
    <p>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service">
        <img src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
    </p>
    <div class="feedback"><a href="https://github.com/okfn/datapipes/issues" target="_blank">Feedback</a></div>
  </div>

</div><!-- /container -->
</body>
</html>


