{% extends "layout.html" %}

{% block content %}
  <h2>Interactive mode</h2>

  <input type="text" name="pipeline" value="" placeholder="e.g. /csv/head?url=…" style="width: 100%" />

  <div class="console">
    <pre class="output"></pre>
  </div>
{% endblock %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function() {
    $("[name='pipeline']").keyup(function(e) {
      if (this.value != '') {
        $.get('/exec/' + this.value, function(res) {
          $('.output').html(res);
        });
      }
    });
  });
</script>
{% endblock %}
