<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> 
    Home - Data Pipes
  </title>
  <meta name="author" content="Open Knowledge Foundation Labs" />
  <meta name="description" content="Data Pipes - Streaming Online Data Processing and Transformations" />

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>
      <a href="/">Data Pipes</a>
    </h1>
    <a href="http://okfnlabs.org/"><img src="http://assets.okfn.org/p/labs/img/logo-flask.png" style="height: 50px; margin-top: 10px;" /></a>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <div class="footer">
    <p>
      This service is run by the <a href="http://okfnlabs.org">Open
        Knowledge Foundation Labs</a>
      &ndash;
      <a href="http://github.com/okfn/datapipes">Source Code</a>
    </p>
    <p>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service">
        <img src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
    </p>
    <div class="feedback"><a href="https://github.com/okfn/datapipes/issues" target="_blank">Feedback</a></div>
  </div>

</div><!-- /container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33874954-19', 'okfnlabs.org');
  ga('send', 'pageview');
</script>
{% block extra_js %}{% endblock %}
</body>
</html>


